body {
}


/*----------------------------- Pagination -----------------------------*/
.pagination{
    margin-bottom: 5%;
    text-align : center;
    height : 50px;
}
 .pagination ul{
    text-align : center;
    
}

 .pagination li{
    display : inline-block;
    vertical-align : middle;
}

 .pagination .pageBoxes{
    width : 30px;
    height : 30px;
    background-color : #5bc0de;
    border-radius : 20%;
}

 .pagination .pageBoxSelected{
    width : 35px;
    height : 35px;
    background-color : #FFF;
    border : solid 2px #000;
    border-radius : 50%;
}

 .pagination .pageBoxSelected a{
    font-size : 22px;
    text-decoration : none;
    color : Black;
    vertical-align : middle;
}

.pagination .pageBoxes a{
    font-size : 22px;
    text-decoration : none;
    color : white;
    vertical-align : middle;
}

#backIconImages {
    height: 30px; 
    display : block; 
    margin : auto;
    cursor : pointer;
}

#nextIconImages {
    height: 30px;
    display: block;
    margin: auto;
    cursor: pointer;
}




/*----------------------------- ListStores And ListCompanies-----------------------------*/

#container {
    margin-top:20%;
}

#row {
    margin-top:10%; 
    margin-bottom: 10%;
}

#img-logo {
   margin-top: 15%; 
   width: 150px; 
   height: 150px;
}

/*Add button*/
#row-button {
    margin-bottom:5%;
}

/*Add, Edit and Delete function*/
#AddModal {
     color:black; 
     text-shadow:none;
}

#EditModal {
     color:black; 
     text-shadow:none;
}

#DeleteModal {
     color:black; 
     text-shadow:none;
}

#Close-button {
    border:solid 1px;
}

#submit-button{
    border:solid 1px; color: #5bc0de
}



/*----------------------------- ShowStore And ShowCompany-----------------------------*/
#container-show {
     margin-top:20%;
}

#img-logo-show {
    margin-top: 10%; 
    width: 200px; 
    height: 200px;
}

#Delete-button{
    background-color:#cc0000; 
    color:white;
}

#map{
    margin-bottom:10%;
    height: 400px;
    width: 100%;

}

#Notes {
    width:270px; 
    height:100px;
}

#warning b{
    color:#cc0000;
}