
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<img src="~/Images/me.JPG"  class="img-circle" style="margin-top:120px;" alt="Cinque Terre" width="250" height="250">
<h1 class="cover-heading">Hi you!</h1>
<p class="lead" style="margin-bottom:80px;">My name is Victoria and I'm a 21 year old girl who thought a large part of her life that she would impress everyone in the finance industry. So I went to a gymnasium for economics in one of Borås's most respected schools and went out as a certified gymnasium economist. <br/><br/>But I realized that something was missing and I never felt quite the challenge I needed. I've always had an interest in IT and gaming. When my mom found an education in Jönköping university's catalog that was about programming, I was immediately interested. After the visit to the amazing city and school, I was hooked. I moved, I started studying completely unfamiliar courses and actually a completely different language than what I was use to. Instead of reading a technological base year, I chose to do everything on one semester and that means that today I do not even have a year left. <br/><br/>I love challenges and although it may seem a little scary in the beginning, I always manage to solve them in one way or another. I would say that I am stubborn person who does not give up in the first place, but who also loves to learn. From a completely unknown world, I hope to reign in the IT world in my future. When I grow up I want to be a good programming girl.</p>
<p class="lead">
</p>

