@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<img src="~/Images/me.JPG"  class="img-circle" style="margin-top:120px;" alt="Cinque Terre" width="250" height="250">
<h1 class="cover-heading">Hi you!</h1>
<p class="lead" style="margin-bottom:80px;">
    My name is Victoria and I'm a 21 year old girl who always have found IT interesting. I used to play games and I loved to play the games or being on the websites where you could create and design your own page with some <b>simple</b> html code, but I never thought I could make a living on it. I went to Sven Eriksonsgymnasiet in Borås where I studied economics and even got a diploma and a scholarship.<br /><br />But I realized that something was missing and I never felt quite the challenge I needed. When my mom found an education in Jönköping university's catalog that was about programming, I was immediately interested. After the visit to the amazing city and school, I was hooked. Since I am a social girl and like challenges, I was not afraid to move to a new city where I did not know anyone. I saw it as an adventure that I have come to love. So I moved, I started studying completely unfamiliar courses and actually a completely different language and world, what I was use to. I did not read a technological base year, instead I chose to do everything on one semester and that means that today I do not even have a year left.<br /><br />I love challenges and although it may seem a little scary in the beginning, I always manage to solve them in one way or another. I would say that I am stubborn person who does not give up in the first place, but who also loves to learn.  From a completely unknown world, I hope to reign in the IT world in my future.
</p><p class="lead">
</p>

