@model List<Service.Models.company>
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListCompanies</title>
</head>
<body>
    <div> 
@foreach (var obj in Model)
{
    <h2>@obj.Name</h2>
    <h3>@obj.OrganizationNumber</h3>
    <p> @obj.Notes</p>
    foreach (var store in obj.Stores) {
    <p>@store.Name</p>
    }<br />
}
    </div>
</body>
</html>
