
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

                   
                    <h1 class="cover-heading">Welcome everybody!</h1>
                    <p class="lead">You have just clicked in to this amazing web site. Prepare yourself to be mind blown. </p>
                    <p class="lead">
                        <img id="img" src="~/Images/heart.png"/>
                       @* <a href="#" class="btn btn-lg btn-default">Learn more</a>*@
                    </p>
               